<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <!-- Site Meta Data -->
  <title>Django 跨站请求伪造</title>
  <meta name="description" content="">
  <meta name="author" content="martin">

  <!-- Style Meta Data -->
  <link rel="stylesheet" href="http://blog.smallcpp.cn/theme/css/notebook.css" type="text/css" />
  <link rel="shortcut icon" href="http://blog.smallcpp.cn/theme/images/avatar.png">

  <!-- Feed Meta Data -->
  <link href="http://blog.smallcpp.cn/" type="application/atom+xml" rel="alternate" title="Small Cpp ATOM Feed" />

  <!-- Twitter Feed -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:image" content="http://blog.smallcpp.cn/theme/images/avatar.png">

<meta name="twitter:creator" content="">
<meta name="twitter:url" content="http://blog.smallcpp.cn/django-kua-zhan-qing-qiu-wei-zao.html">
<meta name="twitter:title" content="Small Cpp ~ Django 跨站请求伪造">
<meta name="twitter:description" content="这个应该也是 Django 比较特色的东西, 就是防止没有标识的 post 请求, 这个标识在 Django 中被称为 token. 它通过 MIDDLEWARE_CLASSES 中的 django.middleware.csrf.CsrfViewMiddleware 开关控制. 这个标识其实也是 cookie 值, 通过简单的两步代码就可以给请求打上标识. Django 端 render_to_response(<span style="color: #800000">'</span …">

<!-- Facebook Meta Data -->
<meta property="og:title" content="Small Cpp ~ Django 跨站请求伪造" />
<meta property="og:description" content="这个应该也是 Django 比较特色的东西, 就是防止没有标识的 post 请求, 这个标识在 Django 中被称为 token. 它通过 MIDDLEWARE_CLASSES 中的 django.middleware.csrf.CsrfViewMiddleware 开关控制. 这个标识其实也是 cookie 值, 通过简单的两步代码就可以给请求打上标识. Django 端 render_to_response(<span style="color: #800000">'</span …" />
<meta property="og:image" content="theme/images/avatar.png" />
</head>

<body>
  <!-- Sidebar -->
  <aside>
    <p><a href="http://blog.smallcpp.cn"><img id="avatar" src="http://blog.smallcpp.cn/theme/images/avatar.png"></a></p>
    <h1>Small Cpp</h1>
    <p>勿在浮沙筑高台, 练从难处练, 用从易处用.</p>
    <hr>
    <h2>Social</h2>
    <ul class="social">
      <a href="http://blog.csdn.net/u010850265">CSDN</a></li>
    </ul>
    <h2>Categories</h2>
    <ul class="navbar">
      <li><a href="http://blog.smallcpp.cn/category/c11.html">C++11</a></li>
      <li><a href="http://blog.smallcpp.cn/category/da-shu-ju.html">大数据</a></li>
      <li><a href="http://blog.smallcpp.cn/category/du-shu-bi-ji.html">读书笔记</a></li>
      <li><a href="http://blog.smallcpp.cn/category/golang.html">Golang</a></li>
      <li><a href="http://blog.smallcpp.cn/category/hei-ke-ji.html">黑科技</a></li>
      <li><a href="http://blog.smallcpp.cn/category/java.html">Java</a></li>
      <li><a href="http://blog.smallcpp.cn/category/linux.html">Linux</a></li>
      <li><a href="http://blog.smallcpp.cn/category/lua.html">Lua</a></li>
      <li><a href="http://blog.smallcpp.cn/category/mongodb.html">Mongodb</a></li>
      <li><a href="http://blog.smallcpp.cn/category/pyqt.html">PyQt</a></li>
      <li class="active"><a href="http://blog.smallcpp.cn/category/python.html">Python</a></li>
      <li><a href="http://blog.smallcpp.cn/category/qt.html">QT</a></li>
      <li><a href="http://blog.smallcpp.cn/category/qu-kuai-lian.html">区块链</a></li>
      <li><a href="http://blog.smallcpp.cn/category/redis.html">Redis</a></li>
      <li><a href="http://blog.smallcpp.cn/category/ruan-jian-she-ji.html">软件设计</a></li>
      <li><a href="http://blog.smallcpp.cn/category/za-xiang.html">杂项</a></li>
    </ul> 
  </aside>

  <!-- Content -->
  <article>
<section id="content">
    <article>
        <header class="post_list">
            <h2 class="post_title"><a href="http://blog.smallcpp.cn/django-kua-zhan-qing-qiu-wei-zao.html" rel="bookmark" title="Permalink to Django 跨站请求伪造">Django 跨站请求伪造</a></h2>
            <span>Par </span>
            <a href="http://blog.smallcpp.cn/author/martin.html">@Martin</a>
            <span> dans </span>
            <span class="post_category"><a href="http://blog.smallcpp.cn/category/python.html" rel="bookmark" title="Permalink to Python">[ Python ]</a></span>
            <span> le </span>
            <span class="post_date">Mon 14 September 2015</span>
            <div></div>
            <div><span>Tags : </span>
            </div>
        </header>
        <div class="entry-content">
            <p>这个应该也是 Django 比较特色的东西, 就是防止没有标识的 post 请求, 这个标识在 Django 中被称为 token.</p>
<p>它通过 <strong>MIDDLEWARE_CLASSES</strong> 中的 <strong>django.middleware.csrf.CsrfViewMiddleware</strong> 开关控制.</p>
<p>这个标识其实也是 cookie 值, 通过简单的两步代码就可以给请求打上标识.</p>
<p>Django 端</p>
<div class="codehilite" style="background: #eeeedd"><pre style="line-height: 125%"><span></span>render_to_response(&lt;span style=&quot;color: #800000&quot;&gt;&#39;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;login.html&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;&#39;&lt;/span&gt;, {}, context_instance=RequestContext(request))
</pre></div>


<p>HTML 端</p>
<div class="codehilite" style="background: #eeeedd"><pre style="line-height: 125%"><span></span>&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;form&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;&lt;span style=&quot;color: #000000&quot;&gt;
{%csrf_token%}
...
&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;form&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
</pre></div>


<p>如果不是在 form 中, 而是在 ajax 中的那话, 那么需要额外对 ajax 进行设置:</p>
<div class="codehilite" style="background: #eeeedd"><pre style="line-height: 125%"><span></span>&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;!&lt;/span&gt;&lt;span style=&quot;color: #ff00ff&quot;&gt;DOCTYPE html&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;html&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;head &lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt;lang&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;en&quot;&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
    &lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;meta &lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt;charset&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;UTF-8&quot;&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
    &lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;title&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;title&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;head&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;body&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;&lt;span style=&quot;color: #000000&quot;&gt;
    {% csrf_token %}

    &lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;input &lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt;type&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;button&quot;&lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt; onclick&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;Do();&quot;&lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt;  value&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;Do it&quot;&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;/&gt;&lt;/span&gt;

    &lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;script &lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt;src&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;/static/plugin/jquery/jquery-1.8.0.js&quot;&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;script&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
    &lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;script &lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt;src&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;/static/plugin/jquery/jquery.cookie.js&quot;&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;script&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
    &lt;span style=&quot;color: #0000ff&quot;&gt;&lt;&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;script &lt;/span&gt;&lt;span style=&quot;color: #ff0000&quot;&gt;type&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;=&quot;text/javascript&quot;&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
        &lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;var&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt; csrftoken &lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;=&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt; $.cookie(&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&#39;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;csrftoken&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&#39;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;);

        &lt;/span&gt;&lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;function&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt; csrfSafeMethod(method) {
            &lt;/span&gt;&lt;span style=&quot;color: #008000; background-color: #f5f5f5&quot;&gt;//&lt;/span&gt;&lt;span style=&quot;color: #008000; background-color: #f5f5f5&quot;&gt; these HTTP methods do not require CSRF protection&lt;/span&gt;
            &lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;return&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt; (&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;/&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;^(GET|HEAD|OPTIONS|TRACE)$&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;/&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;.test(method));
        }
        $.ajaxSetup({
            beforeSend: &lt;/span&gt;&lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;function&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;(xhr, settings) {
                &lt;/span&gt;&lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;if&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt; (&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;!&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;csrfSafeMethod(settings.type) &lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&amp;&amp;&lt;/span&gt; &lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;!&lt;/span&gt;&lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;this&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;.crossDomain) {
                    xhr.setRequestHeader(&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&quot;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;X-CSRFToken&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&quot;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;, csrftoken);
                }
            }
        });
        &lt;/span&gt;&lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;function&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt; Do(){
            $.ajax({
                url:&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&quot;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;/app01/test/&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&quot;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;,
                data:{id:&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;1&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;},
                type:&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&#39;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;POST&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;&#39;&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;,
                success:&lt;/span&gt;&lt;span style=&quot;color: #0000ff; background-color: #f5f5f5&quot;&gt;function&lt;/span&gt;&lt;span style=&quot;color: #000000; background-color: #f5f5f5&quot;&gt;(data){
                    console.log(data);
                }
            });

        }
    &lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;script&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;body&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
&lt;span style=&quot;color: #0000ff&quot;&gt;&lt;/&lt;/span&gt;&lt;span style=&quot;color: #800000&quot;&gt;html&lt;/span&gt;&lt;span style=&quot;color: #0000ff&quot;&gt;&gt;&lt;/span&gt;
</pre></div>


<p>通过两个装饰器, 可以对 Django 中的函数强制开启跨站请求伪造功能:
@csrf_protect, 为当前函数强制设置防跨站请求伪造功能, 即便 settings.py 中没有设置全局中间件;
@csrf_exempt, 取消当前函数防跨站请求伪造功能, 即便 settings.oy 中设置了全局中间件;
l(</p>
            <div align="center" style="color:#ccc;">☠</div>
        </div>
    </article>
</section>
  </article>


</body>
</html>